
* {
    margin: 0;
    box-sizing: border-box;
    font-family: "Poetsen One", sans-serif;
}

nav{
    background-color: #F1F5A8 ;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menuPrincipal{
    display: flex;
    list-style: none;
}

.itemMenu{
    margin: 10px;
}

.linkMenu{
    text-decoration: none;
}

/* .verde{
  /*   border: 10px solid greenyellow;
} */

.subtitulo{
    margin: 20px;
    text-align: center;
}


.violeta {
    /* border: 10px solid purple; */
    width: 800px;
    margin: 0 auto;
    display: flex;
}

.parrafoSecundario{
    margin: 20px;
}
.imgSecundaria{
    width: 200px;
    margin: 20px;
}

.verdeOscuro{
    /* border: 10px solid green; */
    height: 400px;
    display: flex;
    justify-content: space-evenly;
}

.imagenTerciara{
    width: 500px;
}





/* body {
    background-color: #F1F5A8;
    color: #B2B377;
    background-color: #E5E483;
} */

